<tr>
  <td>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    <%= link_to(kindergarten.title, kindergarten_path(kindergarten)) %>
  </td>
  <td>￥<%= kindergarten.fee %></td>
  <td><%= kindergarten.phone %></td>
  <td><sapn class="fa fa-envelope"></sapn><span><%= kindergarten.user.email %></span></td>

</tr>
