<div class="search-back">
  <br>
<% if @query_string.blank? %>
    <div class="search-info-title">
      Sorry, The search content cannot be blank, please type some product into to search.
    </div>

  <% elsif @kindergartens.blank? %>
    <br>
    <h3 class="search-info-title text-center">sorry，您搜索的信息不存在，请输入其他关键字试试看哦</h3><br/>
  <% else %>
    <h3 class="search-info-title text-center"> 有关"<%= @query_string %>"的信息 </h3>

      <div class="search-table">

        <table class="table">

          <thead>
            <tr>
              <th>搜索内容</th>
              <th>发布时间</th>
            </tr>
          </thead>
          <% @kindergartens.each do |kindergarten| %>
          <tr>
            <td>
              <%= link_to(render_highlight_content(kindergarten,@query_string),kindergarten_path(kindergarten)) %>
            </td>
            <td>
              发布时间：<%= kindergarten.created_at.to_date %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    <div class="text-center">
      <%= will_paginate(@kindergartens, renderer: BootstrapPagination::Rails) %>
    </div>
  <% end %>
</div>
