<div class="posts-new-back">
<blockquote class="quote-box">
<h2 class="text-center">新增文章</h2>
<hr>

<div class="posts-form">
  <%= simple_form_for [@kindergarten,@post] do |f| %>
  <%= f.input :content, input_html: { class: "form-control"} %>
</div>
<hr>

    <div class="posts-btn">
      <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
    </div>
  <% end %>
</blockquote>
</div>
