/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import url(http://fonts.googleapis.com/css?family=Roboto);

/*welcome start*/
 /*设置登陆弹窗样式*/
 /****** LOGIN MODAL ******/
 .loginmodal-container {
   padding: 30px;
   max-width: 350px;
   width: 100% !important;
   background-color: #F7F7F7;
   margin: 0 auto;
   border-radius: 2px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   overflow: hidden;
   font-family: roboto;
 }

 .loginmodal-container h1 {
   text-align: center;
   font-size: 1.8em;
   font-family: roboto;
 }

 .loginmodal-container input[type=submit] {
   width: 100%;
   display: block;
   margin-bottom: 10px;
   position: relative;
 }

 .loginmodal-container input[type=text], input[type=password] {
   height: 44px;
   font-size: 16px;
   width: 100%;
   margin-bottom: 10px;
   -webkit-appearance: none;
   background: #fff;
   border: 1px solid #d9d9d9;
   border-top: 1px solid #c0c0c0;
   /* border-radius: 2px; */
   padding: 0 8px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
 }

 .loginmodal-container input[type=text]:hover, input[type=password]:hover {
   border: 1px solid #b9b9b9;
   border-top: 1px solid #a0a0a0;
   -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
   -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
   box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
 }

 .loginmodal {
   text-align: center;
   font-size: 14px;
   font-family: 'Arial', sans-serif;
   font-weight: 700;
   height: 36px;
   padding: 0 8px;
 /* border-radius: 3px; */
 /* -webkit-user-select: none;
   user-select: none; */
 }

 .loginmodal-submit {
   /* border: 1px solid #3079ed; */
   border: 0px;
   color: #fff;
   text-shadow: 0 1px rgba(0,0,0,0.1);
   background-color: #4d90fe;
   padding: 17px 0px;
   font-family: roboto;
   font-size: 14px;
   /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
 }

 .loginmodal-submit:hover {
   /* border: 1px solid #2f5bb7; */
   border: 0px;
   text-shadow: 0 1px rgba(0,0,0,0.3);
   background-color: #357ae8;
   /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
 }

 .loginmodal-container a {
   text-decoration: none;
   color: #666;
   font-weight: 400;
   text-align: center;
   display: inline-block;
   opacity: 0.6;
   transition: opacity ease 0.5s;
 }

 .login-help{
   font-size: 12px;
 }
 /*设置登陆弹窗样式 end*/


/*头图测试*/
.container {
    padding: 80px 120px;

}

#bk1 {
   background-color:#F7F5F7 ;
}

.person {
    border: 3px solid transparent;
    margin-bottom: 25px;
    width: 250px;
    height: 250px;
    transition: box-shadow 0.7s;
}
.person:hover {
     box-shadow: 5px 0px 40px rgba(0,0,0, .6);
}

#trip1 {

    transition: box-shadow 0.7s;
    margin-left: 30px;
}
#trip1:hover{
  box-shadow: 5px 0px 40px rgba(0,0,0, 0.9)
}
#trip2 {

    transition: box-shadow 0.7s;
    margin-left: 15px;
    margin-right: 15px;
}
#trip2:hover{
  box-shadow: 5px 0px 40px rgba(0,0,0, 0.9)
}
#trip3 {

    transition: box-shadow 0.7s;
    margin-right: 30px;
}
#trip3:hover{
  box-shadow: 5px 0px 40px rgba(0,0,0, 0.9)
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption{
  padding-bottom: 400px;
}

.carousel-caption p {
  font-size: 1.4em;

}
.carousel-caption h2 {
    color: #F5F5F5 !important;
    font-size: 5em
}

.carousel-caption a{
  text-decoration: none;
  color: #F5F5F5;
  background-color: transparent;
}

.carousel-caption:hover,
.carousel-caption:focus{
  color: #E0FFFF;
  background-color: transparent;
}

.badge{
  background-color:#D4E157;
}

// .carousel-caption > li > a{
//
// }
//
// .carousel-caption > li > a:hover,
// .carousel-caption > li > a:focus{
//   color: #E0FFFF;
//   background-color: transparent;
// }
//
// .carousel-caption > .active > a ,
// .carousel-caption > .active > a :hover,
// .carousel-caption > .active > a:focus{
//   color: #E0FFFF;
//   background-color: transparent;
// }
//
// .carousel-caption > .open > a,
// .carousel-caption > .open > a:focus,
// .carousel-caption > .open > a:hover{
//   color: #E0FFFF;
//   background-color: transparent;
// }

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
h2 {
  font-size: 3.2em;
}
h3 {
  font-size: 2.2em;
}
h4 {
  font-size: 1.2em;
}
#good p {
  font-size: 1.2em;
}
.bg-1 {
    padding-bottom: 100px;
    color: #323232;
    width: 100% ;
    background-image: url(http://ongoo1pyy.bkt.clouddn.com/bg2.png);
}
.bg-1 h3 {
  color: #F5F5F5;
}
.bg-1 p {
  font-style: italic;
  font-size: 1.2em;
}

/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}
#lianxi{
  padding: 0 ;
}

/* Black  buttons with extra padding and without rounded borders */
.btn-job {
    padding: 10px 20px;
    background-color: #44ABE7;
    color: #323232;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn-job:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #F5F5F5;
    color: #000;
}
/* Black buttons with extra padding and without rounded borders */
.btn-show {
    padding: 10px 20px;
    background-color: #40CCFE;
    color: #323232;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn-show:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #F5F5F5;
    color: #000;
}

/*头图测试 end*/

/*footer测试*/
footer {
  background-color:#44ABE7;
  color: #F5F5F5;
  padding: 32px;

}

footer a {
    color: #F5F5F5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
  }

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/*footer测试 end*/

/*navbar test*/
/* Add a dark background color with a little bit see-through */

#search-id {
  width: 200px;
  padding-top: 7px;
}

.navbar {
    font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
}

.navbar {
    margin-bottom: 0;
    background-color:rgba(8,134,206,0.8);
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;

}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #F5F5F5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #323232 !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #44ABE7 !important;
    background-color: #F5F5F5!important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #44ABE7  ;
    background-color: #44ABE7!important;
}

.dropdown-menu {
  background-color: #44ABE7 !important;
}
/* Dropdown links */
.dropdown-menu li a {

    color: #F5F5F5 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    color:  #323232 !important;
    background-color: #44ABE7 !important;
}
/*navbar test end*/


/*flashes test*/
.alert {
  margin: 0;
  // border-radius: 0 圆角设置成保留圆角;
}
/*flashes test end*/

/*welcome end*/

/*app/views/kindergartens/index_form.html.erb start*/
.kindergarten-list-back {
  background: asset-data-url("jumbotron.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  padding-bottom: 10px;
}

.kindergarten-back{
  background: asset-data-url("kindergarten back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom:  120px;
  background-position: center;
}
/*start*/
.kindergarten-box{
  border: 1.5px solid #ddd;
  background-color: #fff;
  margin-top: 12.5px;
  margin-left: 150px;
  padding: 15px 15px 7.5px 15px;
  color: #555;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  font-size: 16px;
  box-shadow: 1px 1px 5px #ccc;

  div{
    margin-bottom: 5px;
  }

  .info{
      display: inline;
      float: left;
  }

  .info-top{
    margin-top: 30px;
    h3{
      margin-left: 100px;
      display: inline;
      font-size: 20px;
    }
    span{
      margin-left: 10px;
      display: inline;
      color: #82B1FF;
    }
  }

  .info-mid{
    color: #FFA726;
    letter-spacing: -1px;
    margin-left: 100px;
  }

  .info-bot{
    .category{
      border: 1px solid #ccc;
      border-radius: 2.5px;
      padding: 5px 7.5px 5px 7.5px;
      font-size: 12px;
    }
  }

  .connact{
    margin-top: 30px;
    float: right;
    display: inline;
    width: 35%;

    span{
      width: 20px;
      margin-left: 5px;
    }
  }

  .connact-bot{
    margin-left: 3.5px;
    letter-spacing: 1px;
  }
}
/*end*/
/*app/views/kindergartens/index_form.html.erb end*/


//--app/views/kindergartens/index.html.erb start

//-----------auth-----------
.margin-top-20{
  margin-top: 20px;
}
body{
  // background:asset-data-url('background.jpg');
  // background-size:100% 100%;
  // background-attachment: fixed;
  // background-repeat:no-repeat;
  // font-family: 'Open Sans', sans-serif;
  // padding-bottom: 40px;
}
.auth h1{
  color:#fff!important;
  font-weight:300;
  font-family: 'Open Sans', sans-serif;
}
.auth h1 span{
  font-size:21px;
  display:block;
  padding-top: 20px;
}

.auth a:link {color:#212121;}		/* 未被访问的链接 */
.auth a:visited {color:#212121;}	/* 已被访问的链接 */
.auth a:hover {color:#ecf0f1;}	/* 鼠标指针移动到链接上 */
.auth a:active {color:#2980b9;}

.auth span{
  color: #ecf0f1;
}

.auth .auth-box legend{
  color:#fff;
  border:none;
  font-weight:300;
  font-size:24px;
}
.auth .auth-box{
  background-color:#fff;
  // max-width:460px;
  // margin:0 auto;
  margin-top: -10px;
  margin-bottom: 10px;
  border:1px solid rgba(255, 255, 255, 0.4);;
  background-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  margin-top:10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.32);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}
@media(max-width:460px){
  .auth .auth-box{
   margin:0 10px;
 }
}

.auth .auth-box input::-webkit-input-placeholder { /* WebKit browsers */
  color:    #fff;
  font-weight:300;
}
.auth .auth-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #fff;
  font-weight:300;
}
.auth .auth-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #fff;
  font-weight:300;
}
.auth .auth-box input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #fff;
  font-weight:300;
}
.auth span.input-group-addon,
.input-group-btn button{
  border:none;
  background: #fff!important;
  color:#000!important;
}
.auth form{
    font-weight:300!important;
}
.auth form input[type="text"],
.auth form input[type="password"],
.auth form input[type="email"],
.auth form input[type="search"]{
  border:none;
  padding:10px 0 10px 0;
  background-color: rgba(255, 255, 255, 0)!important;
  background: rgba(255, 255, 255, 0);
  color:#fff;
  font-size:16px;
  border-bottom:1px dotted #fff;
  border-radius:0;
  box-shadow:none!important;
  height:auto;
}
.auth textarea{
  background-color: rgba(255, 255, 255, 0)!important;
  color:#fff!important;
}
.auth input[type="file"] {
  color:#fff;
}
.auth form label{
    color:#fff;
    font-size:21px;
    font-weight:300;
}
/*for radios & checkbox labels*/
.auth .radio label,
.auth label.radio-inline,
.auth .checkbox label,
.auth label.checkbox-inline{
    font-size: 14px;
}

.auth form .help-block{
    color:#fff;
}
.auth form select{
  background-color: rgba(255, 255, 255, 0)!important;
  background: rgba(255, 255, 255, 0);
  color:#fff!important;
  border-bottom:1px solid #fff!important;
  border-radius:0;
  box-shadow:none;
}
.auth form select option{
    color:#000;
}
/*multiple select*/
.auth select[multiple] option,
.auth select[size] {
  color:#fff!important;
}

/*Form buttons*/
.auth form .btn{
  background:none;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.auth form .btn-default{
    color:#fff;
    border-color:#fff;
}
.auth form .btn-default:hover{
    background:rgba(225, 225, 225, 0.3);
  color:#fff;
  border-color:#fff;
}
.auth form .btn-primary:hover{
    background:rgba(66, 139, 202, 0.3);
}
.auth form .btn-success:hover{
    background:rgba(92, 184, 92, 0.3);
}
.auth form .btn-info :hover{
    background:rgba(91, 192, 222, 0.3);
}
.auth form .btn-warning:hover{
    background:rgba(240, 173, 78, 0.3);
}
.auth form .btn-danger:hover{
    background:rgba(217, 83, 79, 0.3);
}
.auth form .btn-link{
  border:none;
  color:#fff;
  padding-left:0;
}
.auth form .btn-link:hover{
  background:none;
}


.auth label.label-floatlabel {
  font-weight: 300;
  font-size: 11px;
  color:#fff;
  left:0!important;
  top: 1px!important;
}
//--app/views/kindergartens/index.html.erb end

//--app/veiws/kindergartens/index_table.html.erb start
//---------table---------
.custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

// ---------table---------
.container_table {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
  // margin-top: 100px;
  // width: 1200px; /*宽度1200px*/
  // margin: 0 auto; /*水平居中*/
}

table {
  margin-top: 10px;
  margin-left: 150px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;

}

tr {
  // border-bottom: 1px solid rgba(255,255,255,0);
}

td {
	background-color: rgba(255,255,255,0.2);
	color: rgba(35,35,35,1);
  border: none !important;
  text-align: left;
}

th {
	text-align: center;
  border: none !important;
}

thead {
	th {
		// background-color: #55608f;
    background-color: rgba(35,35,35,1);
    color: #bdc3c7;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
  td {
  position: relative;
  &:hover {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -9999px;
      bottom: -9999px;
      background-color: rgba(255,255,255,0.2);
      z-index: -1;
    }
  }
}
}

@import url(http://fonts.googleapis.com/css?family=Roboto:300);

// color
$green: #87d3b7;

// TAB ~~~~~~~~~~~~~~~
.tab {
	width: 100%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-weight: 300;
	color: #888;
	-webkit-font-smoothing: antialiased;
}

.tabs {
	position: relative;
	overflow: hidden;
  padding-left: 0;
	margin: 0;
	width: 100%;

	li {
		float: left;
		line-height: 38px;
		overflow: hidden;
		padding: 0;
		position: relative;
	}

	a {
		background-color: rgba(0,0,0,0);
		border-bottom: 1px solid rgba(255,255,255,1);
		color: #888;
		font-weight: 500;
		display: block;
		letter-spacing: 0;
		outline: none;
		padding: 0 20px;
		text-decoration: none;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		border-bottom: 2px solid rgba(255,255,255,1);
	}
}

.tabs_item {
	display: none;
	padding: 10px 0;

	h4 {
		font-weight: bold;
		color: $green;
    font-size: 20px;
	}

	img {
		width: 200px;
		float: left;
		margin-right: 30px;
	}

	&:first-child {display: block;}
}

.current a {
	color: rgba(255,255,255,1);
	background: rgba(255,255,255,1);
}

// END TAB ~~~~~~~~~~~~~~~
//--app/views/kindergartens/index.html.erb end

//--app/views/kindergartens/show.html.erb start
.kindergarten-index-back {
  background: asset-data-url("jumbotron.jpg");
  background-size: cover;
  // padding-bottom: 70px;
  // background-position: center;
  background-repeat: no-repeat;
  margin: -20px 0 0 0;
}
//--app/views/kindergartens/show.html.erb end

//--test start

//--test end
