<footer class="footer-distributed text-center" >
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <%= link_to("返回首页" ,root_path) %>
    <br>
    <p>雪绒花 Made By Claire&Lyn&Varun&Water</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>吉林，长春</p>
</footer>
