<footer class="footer-distributed text-center" >
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>途行 Made By <a href="http://godluos-blog.logdown.com/"
    data-toggle="tooltip" title="Visit Blog">GodLuoS</a></p>
    <br>
    <%= link_to("返回首页" ,root_path) %>
</footer>
